In [1]:
import pandas as pd

df1 = pd.read_csv("model\\fraud_data1_1_1.csv")
df2 = pd.read_csv("model\\fraud_data1_1_2.csv")
df3 = pd.read_csv("model\\fraud_data2.csv")

df = pd.concat([df1,df2,df3])
print(df.head())

   Unnamed: 0  type_num     amount    nameOrig  oldbalanceOrg  newbalanceOrig  \
0          15         1  229133.94   905080434       15325.00             0.0
1          42         1  110414.71   768216420       26845.41             0.0
2          47         1   56953.90  1570470538        1942.02             0.0
3          48         1    5346.89   512549200           0.00             0.0
4          51         1   23261.30  2072313080       20411.53             0.0

      nameDest  oldbalanceDest  newbalanceDest  isFraud
0   C476402209          5083.0        51513.44        0
1  C1509514333        288800.0         2415.16        0
2   C824009085         70253.0        64106.18        0
3   C248609774        652637.0      6453430.91        0
4  C2001112025         25742.0            0.00        0

In [4]:
id = 905080434
row = df.loc[df['nameOrig']==id]
#df.loc[df['nameOrig'] == 'C1231006815']
row

,Unnamed: 0,type_num,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud
0,15,1,229133.94,905080434,15325.0,0.0,C476402209,5083.0,51513.44,0

In [19]:
print(list(row.iloc[0,[1,2,3,4,5,7,8]]))

[1, 229133.94, 905080434, 15325.0, 0.0, 5083.0, 51513.44]